version: "3"
services:
    web:
        image: vitiral/get-started:part1
        deploy:
            replicas: 2
            resources:
                limites:
                    cpus: "0.1"
                    memory: 50M
            restart_policy:
                condition: on-failure
        ports:
            - "4000:80"
        networks:
            - webnet
networks:
    webnet:
